                html,
                body,
                .view {
                    height: 100%;
                }
                
                @media(max-width:540px) {
                    html,
                    body,
                    .view {
                        height: 70vh;
                    }
                }
                
                h1 {
                    letter-spacing: 1px;
                }
                
                .caption {
                    position: absolute;
                    bottom: 0;
                    margin: 5px;
                    text-align: center;
                    width: 100%;
                    color: #fff;
                }
                /* .row {
                display: table;
                width: 100%;
            } */
                
                .col {
                    /* border: solid black 1PX; */
                    width: 100%;
                    display: table-cell;
                    padding-top: 50px;
                    padding-bottom: 50px;
                }
                
                #portfolio {
                    display: flex;
                    flex-wrap: wrap;
                    /* justify-items: center;
            margin-bottom: 5px;
            width: 30%/* width: 75%; */
                    /* margin-left: 100px; */
                    /* justify-content: space-between;*/
                }
                
                #portfolio div {}
                
                #portfolio div img {
                    width: 250px;
                    margin: 10px;
                    height: 150px;
                }
                /* #portfolio div {} */
                
                #work1,
                #work2,
                #work3,
                #work4,
                #work5,
                #work6,
                #work7,
                #work8 {
                    position: relative;
                    text-align: center;
                    /* background-color: rgba(255, 255, 255, 0.456); */
                }
                
                #overlay,
                #overlay1,
                #overlay2,
                #overlay3,
                #overlay4,
                #overlay5,
                #overlay6,
                #overlay7 {
                    color: black;
                    background-color: rgba(255, 255, 255, 0.456);
                    position: absolute;
                    top: 50%;
                    padding: 75px;
                    bottom: 50%;
                    left: 50%;
                    width: 100%;
                    height: 100%;
                    font-family: 'Alfa Slab One', cursive;
                    /* font-family: 'Lato', sans-serif; */
                    transform: translate(-50%, -50%);
                }
                
                .text {
                    background: transparent;
                    opacity: 1;
                }
                
                .form-control {
                    background: transparent;
                    outline: #fff;
                    margin-bottom: 5px;
                }
                
                #hover-change {
                    background-color: red;
                    height: 500px;
                    width: 500px;
                }
                
                .row-t {
                    display: none;
                }
                
                form {
                    padding: 30px;
                }
                
                #social-images img {
                    width: 15px;
                    padding: 0;
                    margin-bottom: 0;
                }
                
                input {
                    outline: white;
                }