            html,
            body,
            container,
            .view {
                height: 100%;
            }
            
            @media(max-width:540px) {
                html,
                body,
                container,
                .view {
                    height: 50vh;
                }
            }
            
            h1 {
                letter-spacing: 1px;
            }
            
            .caption {
                position: absolute;
                bottom: 2;
                text-align: center;
                width: 100%;
                color: #fff;
            }